[push]
	autoSetupRemote = true
[core]
  editor = nvim
[credential]
  helper = cache --timeout=3600
[alias]
  c = commit
  co = checkout
  sw = switch
  st = status
  icommit = commit --no-verify
  b = !git --no-pager branch
  hist = log --oneline --graph
  bclean = "!f() { git branch | grep -v master | xargs git branch -d; }; f"
  a = !git add $(git ls-files --modified --deleted --others --exclude-standard | fzf -m --reverse --height=~10)
  s = !git add $(git ls-files --modified --deleted --exclude-standard | fzf -m --reverse --height=~10)
[pager]
  stash = false
[pull]
  rebase = false
[include]
  path = ~/.gitconfig.user
[advice]
    addEmptyPathspec = false
