[core]
    editor = nvim
[user]
    email = kristopherswann@gmail.com
    name = kriswithank
[credential]
    helper = cache --timeout=3600
[alias]
    co = checkout
    st = status
    b = !git --no-pager branch
    hist = log --oneline --graph
    bclean = "!f() { git branch | grep -v master | xargs git branch -d; }; f"
[pager]
	stash = false
