# Runs on graphical login
sxhkd -r /home/kris/.local/sxhkd_log &
udiskie -t &
nm-applet &
picom &
xset b off # turn off the damn bell!
setxkbmap -option compose:caps
[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile
