#!/bin/sh
# In theory this should be sourced by graphical login managers (that doesn't match what I've seen)
# It is also sourced by .xinitrc (before the window manager is started)

sxhkd -r /home/kris/.local/sxhkd_log & # Keyboard shortcuts
# udiskie -t &
nm-applet &
# picom & # Compositor/transparency/compton replacement
xset b off # turn off the damn bell!
syndaemon -i 0.5 -t -K -R -d  # Disable touchpad when typing
[[ -f ~/.xprofile_local ]] && . ~/.xprofile_local
