[Desktop Entry]
Type=Application
Version=1.0
Name=nvim
Comment=neovim
Exec=nvim
Icon=/home/kris/.local/share/applications/nvim-icon.png
Terminal=true
